<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>МЕНЮ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
</head>
<body>
    <ul class="bmenu">
        <li><a href="/fox/">Уточки Кря кря</a></li>
        <li><a href="/fox/">Лисички-сестрички</a></li>
        <li><a href="/weather-minsk/">Погода в доме</a></li>
        <li><a href="/weather/">Погода</a></li>
        <li><a href="/rainbow/">Радуга-дуга</a></li>
        <li><a href="/tags/">Задание 5</a></li>
        <li>
        <a href="/quiz/">Квиз</a>
        <ul class="submenu">
            <li><a href="/quiz/editor/">Редактор</a></li>
        </ul>
        </li>
    </ul>
</body>
</html>