{% extends "base.html" %}

<body>
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">


    <div class="register-container">
        <h2>Регистрация</h2>
        <form id="registrationForm" action="" method="POST">
            <label for="fio">ФИО пользователя</label>
            <div class="input-error-group">
                <input type="text" id="fio" name="fio" placeholder="ФИО" required/>
                {% if err and 'error_fio' in err %}
                    <label class="error-message">Некорректное имя/фамилия</label>
                {% endif %}
            </div>
            <label for="login">Логин </label>
            <div class="input-error-group">
                <input type="text" id="login" name="login" placeholder="Логин" required/>
                {% if err and 'error_login' in err %}
                    <label class="error-message">Некорректный логин</label>
                {% endif %}
                {% if err and 'Логин занят' in err %}
                    <label class="error-message">Логин занят</label>
                {% endif %}
            </div>
            <label for="password">Пароль</label>
            <div class="input-error-group">
                <input type="password" id="password" name ="password" placeholder="Пароль" required/>
                {% if err and 'error_pass' in err %}
                    <label class="error-message">Некорректный пароль</label>
                {% endif %}
            </div>
            <label for="email">E-mail</label>
            <div class="input-error-group">
                <input type="email" id="email" name="email" placeholder="email" required/>
                {% if err and 'error_email' in err %}
                    <label class="error-message">Некорректный E-mail</label>
                {% endif %}
            </div>
            <label for="age">Возраст</label>
            <div class="input-error-group">
                <input type="number" id="age" name="age" min="12" max="100" placeholder="Возраст" required/>
                {% if err and 'error_age' in err %}
                    <label class="error-message">Некорректный возраст</label>
                {% endif %}
            </div>
            <p></p>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>


{% endblock content %}
</body>